* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("Gita4.jpg");
  background-size: contain;
  background-position-x: -1000px;
  background-position-y: 100px;
}

.box1, .box2, .box3, .box4, .box5, .Conclusion {
  border: 2px solid #B60071;
  font-size: larger;
  background-color: rgba(255, 255, 255, 0); /* White background with 50% transparency */
  color: white;
}

h1, h2 {
  color: red;
  font-family: 'Merriweather', serif; /* Example font family */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Example text shadow */
}

#About {
  color: #295F98;
  font-family: 'Roboto', sans-serif; /* Example font family */
  font-weight: 300;
  font-style: italic;
}

p {
  font-family: 'Open Sans', sans-serif; /* Example font family */
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

a {
  font-family: 'Lato', sans-serif; /* Example font family */
  font-weight: 700;
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: 'Montserrat', sans-serif; /* Example font family */
  font-weight: 600;
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.container {
  display: flex;
  min-height: 1000px;
  flex-direction: column;
}

.box1 {
  height: 500px;
  width:600px;
  position: relative;
  top: 50px;
}

.box2 {
  height: 600px;
  width: 575px;
  position: relative;
  left: 100px;
}

.box3 {
  height: 500px;
  width: 500px;
  position: relative;
  left: 230px;
  bottom: 50px;
  z-index: 1;
}

#Core {
  position: relative;
  left: 340px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.box4 {
  height: 700px;
  width: 575px;
  position: relative;
  left: 50px;
  bottom: 100px;
  z-index: 2;
}

.box5 {
  height: 800px;
  width: 500px;
  position: relative;
  left: 238px;
  bottom: 150px;
  z-index: 3;
}

.Conclusion {
  height: 350px;
  width: 600px;
  position: relative;
  left: 0px;
  bottom: 200px;
}

/* Feedback styling */

.f-b-content {
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start; */
  padding: 10px;
  background: rgba(28, 31, 43, 0.9);
  color: #f0f0f0;
  position: relative;
  bottom: 0px;
}

textarea {
  width: 300px;
  height: 40px;
  resize: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #1c1f2b;
  color: #f0f0f0;
}

/* Heading */
.About {
  background-color: #E195AB;
  font-size: 30px;
  padding: 10px;
  padding-bottom: 20px;
  border: 3px solid black;
}
